JavaScriptWorks/projectBanking/loan.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="loans">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Mortgage_loan" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" name="custname"/>
              <xs:element name="amount" type="xs:int" name="loanamount"/>
              <xs:element name="city" type="xs:string" name="city"/>
              <xs:element name="loanOrigination">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:date" name="OriginationDate"/>
                    <xs:element type="xs:int" name="OriginationAmount"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lenderInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="creditScore"/>
                    <xs:element type="xs:byte" name="DTI"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>